html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: system-ui;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: center;
}

.flex.fill {
  height: 100%;
}

.flex.center {
  justify-content: center;
  text-align: center;
}

.button {
border-style: none;
margin-left: -95px;
width: 160px;
font-size: 25px;
}

.mySkills {
  font-size: 35px;
  font-weight: bold;
  padding: 20px;
  /* text-align: center;
  display: flex;
  align-items: center; */
}

.skillsText {
  margin-left: -160px;
  font-size: 25px;
}

.exit {
  font-size: 40px;
  margin-right: 200px;
  color: var(--dark);
}

@media only screen and (max-width: 600px) {
  .mySkills {
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
  }

  .skillsText {
    margin-left: -80px;
    font-size: 20px;
  }

  .exit {
    font-size: 30px;
    margin-left: 30px;
  }

  .button {
    border-style: none;
    margin-left: -110px;
    width: 40px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 375px) {
  .mySkills {
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    margin-left: -180px;
  }

  .skillsText {
    margin-left: -150px;
    font-size: 20px;
  }

  .exit {
    font-size: 30px;
    margin-left: 30px;
  }

  .button {
    border-style: none;
    margin-left: -135px;
    width: 40px;
    font-size: 20px;
  }
}
