.resumeCard {
	margin-top: 50px;
}

.resumeTitle {
	font-size: 30px !important;
	padding: 20px;
	background: var(--tan);
	border-radius: 2px;
}

.resumeBody {
	padding-top: 30px;
	background: var(--tan);
	border-radius: 2px;
}

.btn {
	color: var(--peach);
	background: var(--dark);
}

.btn:hover {
	background: var(--orange);
}