/* Custom Fonts*/

@font-face {
	font-family: "AlexandriaFLF";
	src: url("./assets/font/AlexandriaFLF-Bold.ttf");
	font-weight: normal;
  }
  @font-face {
	font-family: "AlexandriaFLF";
	src: url("./assets/font/AlexandriaFLF-BoldItalic.ttf");
	font-weight: normal;
  }
  @font-face {
	font-family: "AlexandriaFLF";
	src: url("./assets/font/AlexandriaFLF-Italic.ttf");
	font-weight: normal;
  }
  @font-face {
	font-family: "AlexandriaFLF";
	src: url("./assets/font/AlexandriaFLF.ttf");
	font-weight: normal;
  }
  @font-face {
	font-family: "Kelvinch";
	src: url("./assets/font/Kelvinch-Bold.otf");
	font-weight: normal;
  }
  @font-face {
	font-family: "Kelvinch";
	src: url("./assets/font/Kelvinch-BoldItalic.otf");
	font-weight: normal;
  }
  @font-face {
	font-family: "Kelvinch";
	src: url("./assets/font/Kelvinch-Italic.otf");
	font-weight: normal;
  }
  @font-face {
	font-family: "Kelvinch";
	src: url("./assets/font/Kelvinch-Roman.otf");
	font-weight: normal;
  }
  
  /* Default CSS */
  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  html {
	scroll-behavior: smooth;
	scroll-padding: 75px;
  }
  
  body {
	font-weight: 400;
	overflow-x: hidden;
	position: relative;
	background-color: rgb(139, 127, 108) !important;
	color: black !important;
	font-family: "AlexandriaFLF", "Kelvinch" !important;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
	margin: 0;
	padding: 0;
	line-height: normal;
  }
  

  .App {
	text-align: center;
  }
  
  .App-logo {
	height: 40vmin;
	pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
	.App-logo {
	  animation: App-logo-spin infinite 20s linear;
	}
  }
  
  .App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
  }
  
  /* .App-link {
	  color: #61dafb;
	}
	
	@keyframes App-logo-spin {
	  from {
		transform: rotate(0deg);
	  }
	  to {
		transform: rotate(360deg);
	  }
	} */
  
  /* Footer CSS */
  
  
  
  
  /* Main CSS */
  .card-img-overlay {
	align-items: center;
	top: 57px;
  }
  
  .card-title {
	color: rgb(186, 101, 93);
	font-weight: bold;
  }
  
  .card-text {
	box-shadow: inset 0 0 0 0 #54b3d6;
	color: #f7fafc;
	padding: 0 0.25rem;
	margin: 0 -0.25rem;
	transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  /* .card-text:hover {
	color: #fff;
	box-shadow: inset 200px 0 0 0 #54b3d6;;
  } */
  
  /* Presentational styles */
  .card-text:hover {
	color: rgb(216, 151, 151);
	font-family: "Kelvinch-bold";
	font-weight: 700;
	line-height: 2;
	text-decoration: none;
	border: rgb(186, 101, 93) solid 3px;
	background-color: black;
  }
  
  .card-text:hover::before {
	display: grid;
	height: 100vh;
	place-items: center;
  }
  