@import "../../Utils/colors.css";

/* NavBar CSS */
.navbar {
	padding: 18px 0;
	position: fixed;
	width: 100%;
	top: 0;
	/* z-index: 9999; */
	transition: 0.32 ease-in-out;
  }
  /*when nav bar scrolled color it shows*/
  nav.navbar.scrolled {
	padding: 0px 0;
	background-color: black;
  }
  /*logo*/
 
  .navbar .navbar-nav .nav-link {
	font-weight: normal;
	color: var(--white) !important;
	letter-spacing: 0.8px;
	padding: 0 25px;
	font-size: 18px;
	opacity: 0.75;
  }
  .navbar .container .nav-link:hover,
  nav.navbar .navbar-nav a.nav-link.navbar-link:active {
	opacity: 1;
  }
  
  /* social icn link images
  .social-icon {
	display: inline-block;
	margin-left: 14px;
  } */


  .navbar-text button {
	font-weight: 700;
	color: grey;
	border: 1px solid var(--tan);
	padding: 18px 30px;
	font-size: 20px;
	margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
  }
  .navbar-text button span {
	z-index: 1;
  }
  .navbar-text button::before {
	content: "";
	width: 0%;
	height: 100%;
	position: absolute;
	background-color: var(--orange);
	left: 0;
	top: 0;
	transition: 0.3s ease-in-out;
  }

  .navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
  }
  nav.navbar .navbar-toggler:active,
  nav.navbar .navbar-toggler:focus {
	outline: none;
	box-shadow: none;
  }
  nav.navbar .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 2px solid var(--peach);
	transition: all 300ms linear;
	top: -2px;
  }
 
  nav.navbar .navbar-toggler-icon:after,
  nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: var(--tan);
	left: 0;
	top: 0;
	content: "";
	transition: all 300ms linear;
	z-index: 2;
  }
  nav.navbar .navbar-toggler-icon:after {
	top: 7px;
  }


