.card-img-overlay {
	align-items: center;
	top: 90px;
  }
  
  .card-title {
	  color: var(--dark);
	  font-weight: bold;
	  letter-spacing: 1.5rem;
  }
  
  .card-text {
	  /* box-shadow: inset 0 0 0 0 #54b3d6; */
	  color: var(--white);
	  padding: 0 3rem;
	  margin: 10rem;
	  margin-top: 20rem;
	  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  
  /* Presentational styles */
  .card-text:hover {
	  font-family: "AlexandriaFLF";
	  font-weight: 700;
	  line-height: 2;
	  text-decoration: none;
	  background-color: black;
  }
  
  .card-text:hover::before {
	  display: grid;
	  height: 100vh;
	  place-items: center;
  }
  

@media only screen and (max-width: 600px) {
  .card-text {
	  margin: 0;
	  margin-top: 10rem;
	  padding-bottom: 2rem;
	 
  }
}
@media only screen and (max-width: 375px) {
  .card-title {
	  font-size: 50px !important;
	  letter-spacing: 8px !important;
  }
  .card-text {
	font-size: 20px !important;
  }
}
