.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
	background: var(--dark);
};

.projectLinks {
    color: var(--orange) !important;
}
a {
    color: var(--orange);
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
}
a:hover {
    color: var(--peach);
} 

.projectLabel {
    margin-left: 100px;
    margin-right: 100px;
}
