/* Custom Fonts*/

@font-face {
	font-family: "AlexandriaFLF";
	src: url("./assets/font/AlexandriaFLF-Bold.ttf");
	font-weight: normal;
  }
  @font-face {
	font-family: "AlexandriaFLF";
	src: url("./assets/font/AlexandriaFLF-BoldItalic.ttf");
	font-weight: normal;
  }
  @font-face {
	font-family: "AlexandriaFLF";
	src: url("./assets/font/AlexandriaFLF-Italic.ttf");
	font-weight: normal;
  }
  @font-face {
	font-family: "AlexandriaFLF";
	src: url("./assets/font/AlexandriaFLF.ttf");
	font-weight: normal;
  }

  
  /* Default CSS */
  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  html {
	scroll-behavior: smooth;
	scroll-padding: 75px;
  }
  
  body {
	font-weight: 400;
	overflow-x: hidden;
	position: relative;
	background-color: rgb(139, 127, 108) !important;
	color: black !important;
	font-family: "AlexandriaFLF" !important;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
	margin: 0;
	padding: 0;
	line-height: normal;
  }
  





	.App {
	  text-align: center;
	}
	
	.App-logo {
	  height: 40vmin;
	  pointer-events: none;
	}
	
	@media (prefers-reduced-motion: no-preference) {
	  .App-logo {
		animation: App-logo-spin infinite 20s linear;
	  }
	}
	
	.App-header {
	  background-color: #282c34;
	  min-height: 100vh;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	  font-size: calc(10px + 2vmin);
	  color: white;
	}