.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
	background: var(--dark);
};

.projectLinks {
    color: var(--peach) !important;
}
a {
    color: var(--peach);
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
}
a:hover {
    color: var(--orange);
} 

.projectLabel {
    margin-left: 100px !important;
    margin-right: 100px !important;
}

.carousel-indicators {
    display: none !important;
  }


@media only screen and (max-width: 375px) {
 .d-block {
    width: 65% !important;
 }
 .carousel-caption {
    width: 65% !important;
    font-size: 15px !important;
 }
 .carousel-indicators {
    width: 5% !important;
 }
 .carousel-control-prev-icon {
    width: 1rem !important;
 }
 .carousel-control-next-icon {
    width: 1rem !important;
 }
  }
  
